 <div class="grid grid-cols-2 gap-2">
      <!-- Liability box -->
      <form class="bg-white dark:bg-gray-800 p-4">

        <div class="mb-6">
          <label for="assetAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monthly income</label>
          <input type="assetAmount" id="assetAmount"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Insert Asset Amount" required />
        </div>

        <div class="mb-6">
          <label for="assetAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vehicles</label>
          <input type="assetAmount" id="assetAmount"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Insert Asset Amount" required />
          <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
              
              Clear Item
            </button> -->
        </div>

        <div class="mb-6">
          <label for="assetAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Properties</label>
          <input type="assetAmount" id="assetAmount"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Insert Asset Amount" required />
        </div>

        <div class="mb-6">
          <label for="assetAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Savings</label>
          <input type="assetAmount" id="assetAmount"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Insert Asset Amount" required />
        </div>
         <!-- Button to add another budget item -->
         <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
          Submit
        </button>
      </form>