<form class="bg-white dark:bg-gray-800 p-4" style="width: 500px; height: 500px">
    <div class="mb-6">
      <label for="goalItem" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Goal Item</label>
      <input type="goalItem" id="goalItem"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Insert Item" required />
    </div>
    <div class="mb-6">
      <label for="goalAmount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Goal
        Amount</label>
      <input type="goalAmount" id="goalAmount"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Insert Amount" required />
    </div>

    <div class="mb-6">
      <label for="monthlyContr" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Monthly Contribution</label>
      <input type="monthlyContr" id="monthlyContr"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Insert Amount" required />
    </div>
     <!-- Button to add another goal item -->
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
      Add Goal
    </button>
  </form>