<!-- Find a rendering app -->
   <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Find a rendering app -->
    <!-- Header area -->
    <nav class="flex items-center justify-between flex-wrap bg-blue-800 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-9">
        <svg
          class="fill-current h-8 w-8 mr-2"
          width="54"
          height="54"
          viewBox="0 0 54 54"
          xmlns="http://www.w3.org/2000/svg"
        ></svg>
        <span class="font-semibold text-xl tracking-tight">Home Page</span>
      </div>
    </nav>
    <!-- Input area -->
    <!-- Asset box -->
    <div
      class="flex items-center"
      style="width: fit-content; height: fit-content">
      <div class="grid grid-cols-2 gap-5">
         {{!-- generic questions --}}
        <div class="mb-6">
            <label
              for="monthlyIncome"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Monthly Income</label
            >
            <input
              type="monthlyIncome"
              id="monthlyIncome"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
        </div>
        <div class="mb-6">
            <label
              for="vehiclesValue"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Vehicles</label
            >
            <input
              type="vehiclesValue"
              id="vehiclesValue"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
        </div>
        <div class="mb-6">
            <label
              for="vehicles"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Properties</label
            >
            <input
              type="propertiesValue"
              id="propertiesValue"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
        </div>
        <div class="mb-6">
            <label
              for="savings"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Savings</label
            >
            <input
              type="savings"
              id="savings"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
         </div>
              <form
          class="bg-white dark:bg-gray-800 p-1"
          style="width: 500px; height: 250px"
        >
       
        {{!-- input form --}}
        <div class="mb-6">
            <label
              for="assetList"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Assets</label
            >
            <input
              type="assetList"
              id="assetList"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Asset"
              required style="width: 348px;"
            />
        </div>
          <div class="mb-6">
            <label
              for="assetValue"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Asset Value</label
            >
            <input
              type="assetValue"
              id="assetValue"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
          </div>
            <!-- Button to add another budget item -->
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
          >
            Add Another Item
          </button>
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
          >
            <!-- Button to clear budget item -->
            Clear Item
          </button>
          </div>
         </div>
          
        <!-- Liability box -->
        <div class="grid grid-cols-2 gap-5">
        <div class="mb-6">
            <label
              for="autoLoan"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Auto Loans</label
            >
            <input
              type="autoLoans"
              id="autoLoans"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"{{auto_loan}}
              required style="width: 348px;"
            />
         </div>
        <div class="mb-6">
            <label
              for="personalLoans"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Personal Loans</label
            >
            <input
              type="personalLoans"
              id="personalLoans"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
         </div>
        <div class="mb-6">
            <label
              for="mortgage_rent"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Mortgage/Rent</label
            >
            <input
              type="mortgage_rent"
              id="mortgage_rent"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
         </div>
        <div class="mb-6">
            <label
              for="creditCards"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Credit Cards</label
            >
            <input
              type="creditCards"
              id="creditCards"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
         </div>
        <div class="mb-6">
            <label
              for="studentLoans"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Student Loans</label
            >
            <input
              type="studentLoans"
              id="studentLoans"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
         </div>
        <div class="mb-6">
            <label
              for="utilities"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Utilities</label
            >
            <input
              type="utilities"
              id="utilities"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Value"
              required style="width: 348px;"
            />
        
        <form class="bg-white dark:bg-gray-800 p-1" style="width: 500px; height: 250px">
          <div class="mb-6">
            <label
              for="liabilityItems"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Liability Item</label
            >
            <input
              type="liabilityItems"
              id="liabilityItems"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Liabilities Amount"
              required
            />
          </div>

          <div class="mb-6">
            <label
              for="liabilityAmount"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Liability Amount</label
            >
            <input
              type="LiabilityAmount"
              id="LiabilityAmount"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Insert Liability Amount"
              required
            />
          
            <!-- Button to add another budget item -->
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >
             <!-- Button to clear budget item -->
              Add Another Item
            </button>
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
            >Clear Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>